___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

In [1]:
import pandas as pd

from datetime import datetime

In [3]:
ri = pd.read_csv('RI_cleaned.csv', nrows = 50000)

C:\Users\Lenovo T450s\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
ri.isnull().sum()

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

In [5]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     50000 non-null  object
 1   state                  50000 non-null  object
 2   stop_date              50000 non-null  object
 3   stop_time              50000 non-null  object
 4   location_raw           50000 non-null  object
 5   county_name            0 non-null      float64
 6   county_fips            0 non-null      float64
 7   fine_grained_location  0 non-null      float64
 8   police_department      50000 non-null  object
 9   driver_gender          48010 non-null  object
 10  driver_age_raw         48029 non-null  float64
 11  driver_age             47792 non-null  float64
 12  driver_race_raw        48012 non-null  object
 13  driver_race            48012 non-null  object
 14  violation_raw          48012 non-null  object
 15  violation              48012 non-null  object
 16  search_conducted       50000 non-null  bool
 17  search_type_raw        2012 non-null   object
 18  search_type            2012 non-null   object
 19  contraband_found       50000 non-null  bool
 20  stop_outcome           48012 non-null  object
 21  is_arrested            48012 non-null  object
 22  stop_duration          48012 non-null  object
 23  out_of_state           47797 non-null  object
 24  drugs_related_stop     50000 non-null  bool
 25  district               50000 non-null  object
dtypes: bool(3), float64(5), object(18)
memory usage: 8.9+ MB

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

In [6]:
ri.shape

(50000, 26)

In [9]:
ri.head(2)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [13]:
drops = [,'state','county_fips','fine_grained_location']

In [14]:

ri.drop(drops,axis = 'columns', inplace = True)

ri.shape

(50000, 22)

In [15]:
ri.shape

(50000, 22)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

In [16]:
ri.dropna(axis='rows',how ='any',subset = ['driver_gender'],inplace = True)
ri.isna().sum()

id                        0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type_raw       45998
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

In [18]:
ri.isnull().sum()

id                        0
stop_date                 0
stop_time                 0
location_raw              0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type_raw       45998
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

In [17]:
ri.shape

(48010, 22)

In [6]:
ri.isnull().sum()

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

In [52]:
type(ri['is_arrested'][0])

bool

In [20]:
ri.is_arrested.unique()

array([False, True], dtype=object)

In [22]:
type(ri['is_arrested'].values[0])

bool

In [ ]:
ri

In [61]:
ri.dtypes

id                        object
stop_date                 object
stop_time                 object
location_raw              object
county_fips              float64
fine_grained_location    float64
police_department         object
driver_gender             object
driver_age_raw           float64
driver_age               float64
driver_race_raw           object
driver_race               object
violation_raw             object
violation                 object
search_conducted          object
search_type_raw           object
search_type               object
contraband_found            bool
stop_outcome              object
is_arrested               object
stop_duration             object
out_of_state              object
drugs_related_stop          bool
district                  object
dtype: object

In [8]:
ri.dtypes

id                        object
state                     object
stop_date                 object
stop_time                 object
location_raw              object
county_name              float64
county_fips              float64
fine_grained_location    float64
police_department         object
driver_gender             object
driver_age_raw           float64
driver_age               float64
driver_race_raw           object
driver_race               object
violation_raw             object
violation                 object
search_conducted          object
search_type_raw           object
search_type               object
contraband_found            bool
stop_outcome              object
is_arrested               object
stop_duration             object
out_of_state              object
drugs_related_stop          bool
district                  object
dtype: object

ri['is_']ri.is_arrested.astype('bool')

In [23]:
ri['is_arrested'] = ri.is_arrested.astype('bool')

In [ ]:
ri

In [25]:
ri['is_arrested'].dtype

dtype('bool')

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

In [15]:
ri['stop_date'][2]

'2005-01-04'

In [27]:
combined  = ri.stop_date.str.cat(ri.stop_time,sep = ' ')
combined = pd.to_datetime(combined)

In [28]:
combined.dtypes

dtype('<M8[ns]')

In [29]:
ri['stop_datetime'] = combined

ri.columns

Index(['id', 'stop_date', 'stop_time', 'location_raw', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'stop_duration', 'out_of_state', 'drugs_related_stop',
       'district', 'stop_datetime'],
      dtype='object')

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

In [30]:
ri.drop(['stop_time','stop_date'],axis = 1, inplace =True)

In [31]:
ri.head()

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00
1,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30:00
3,RI-2005-00004,Zone X4,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55:00
4,RI-2005-00005,Zone X4,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30:00
5,RI-2005-00006,Zone X1,0,M,1973.0,32.0,B,Black,Call for Service,Other,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05:00

In [33]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   location_raw        48010 non-null  object
 2   police_department   48010 non-null  object
 3   driver_gender       48010 non-null  object
 4   driver_age_raw      48010 non-null  float64
 5   driver_age          47778 non-null  float64
 6   driver_race_raw     48010 non-null  object
 7   driver_race         48010 non-null  object
 8   violation_raw       48010 non-null  object
 9   violation           48010 non-null  object
 10  search_conducted    48010 non-null  bool
 11  search_type_raw     2012 non-null   object
 12  search_type         2012 non-null   object
 13  contraband_found    48010 non-null  bool
 14  stop_outcome        48010 non-null  object
 15  is_arrested         48010 non-null  bool
 16  stop_duration       48010 non-null  object
 17  out_of_state        47795 non-null  object
 18  drugs_related_stop  48010 non-null  bool
 19  district            48010 non-null  object
 20  stop_datetime       48010 non-null  datetime64[ns]
dtypes: bool(4), datetime64[ns](1), float64(2), object(14)
memory usage: 6.8+ MB

In [34]:
ri.set_index('stop_datetime', inplace = True)

In [35]:
ri.head(2)

,id,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,Zone K1,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,Zone X4,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4

In [36]:
ri.shape

(48010, 20)